name: CI

on:
  pull_request:
    branches: [ main, dev ]

permissions:
  contents: read
  pull-requests: write

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - name: Install dependencies
        run: npm ci

      # skip for now, until fixing all lintings, unit tests

      # - name: Run ESLint
      #   run: npm run lint

      - name: Check Prettier format
        run: npx prettier --write "src/**/*.ts"

      - name: Run unit tests
        run: npm run test:cov

      - name: Upload coverage to PR
        uses: romeovs/lcov-reporter-action@v0.3.1
        with:
          lcov-file: ./coverage/lcov.info

